html, body {
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: sans-serif;
}

svg {
  position: absolute;
  top: 0;
  left: 0;

  path.border {
    stroke: white;
    stroke-width: 0.4px;
  }

  path.border.hovered {
    fill-opacity: 0.6;
  }
}