$darkblue = #003459;
$lavender = #EEEEFF;
$lightblue = #BCCFE0;
$rose = #F7CAC9;
$serenity = #92A8D1;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $lightblue;
}

.title {
  color: $darkblue;

  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: sans-serif;
}

svg {
  position: absolute;
  top: 0;
  left: 0;

  path.zone {   
    stroke: white;
    stroke-width: 0.4px;
  }

  path.zone.selected {
    stroke: $rose;
    stroke-width: 3px;
  }

  path.zone.hovered {
    stroke-width: 3px;
  }
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;

  span {
    display: block;
  }
  .name {

  }
  .value {

  }
}

#menu {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;

  div.wrapper {
    margin-top: 30px;
    margin-right: 30px;

    span {
      margin: 20px;
      a {
        color: $darkblue;
        text-decoration: none;
      }
    }

    span.selected {
      a {
        text-decoration: underline;
      }
      
    }

    span:hover {
      a {
        opacity: 0.7;
      }
    }
  }
}

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;

  visibility: visible;

  transition: opacity 500ms linear, visibility 500ms linear;

  padding: 30px;
  text-align: center;
  .loading-container {
    display: inline-block;
    padding: 50px;
  }
}

#loading.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  z-index: -1;

  transition: opacity 500ms linear, visibility 500ms linear;
}

#sliders {
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  width: 400px;
}

#sliders > div {
  margin-bottom: 50px;
  .title {

  }
  .res {
    margin-left: 50px;
  }

  .noUi-connect {
    background-color: $rose;
  }
}