html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body, body.mode-net-flow {
  transition: background-color 500ms linear;
  background-color: rgb(224,247,250);
}

body.mode-dest-count {
  transition: background-color 500ms linear;
  background-color: rgb(232,245,233);
}

.title {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: sans-serif;
}

#reactRoot {
  opacity: 0;
}

#reactRoot.mounted {
  opacity: 1;
  transition: opacity 1s;
}


svg {
  position: absolute;
  top: 0;
  left: 0;

  path.zone {
    stroke: white;
    stroke-width: 0.4px;
  }

  path.zone.selected {
    stroke: lightblue;
    stroke-width: 3px;
  }

  path.zone.hovered {
    fill-opacity: 0.6;
  }
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;

  span {
    display: block;
  }
  .name {

  }
  .agg-flow {

  }
}

#menu {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;

  div.wrapper {
    margin-top: 30px;
    margin-right: 30px;

    span {
      margin: 20px;
    }

    span.selected {
      text-decoration: underline;
    }

    span:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}