<!DOCTYPE html>
<html>


<head>
  <title>NYC MOVEMENT</title>
  {% assets "css_all" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js" charset="utf-8"></script>
</head>

<body>

<h1 class="title">NYC MOVEMENT</h1>

<div id="menu" data-mode="{{ mode }}">
    <div class="wrapper">
        <span {% if mode=='NET_FLOW' %} class="selected net-flow" {% else %} class="net-flow" {% endif %} >
          <a href="/net-flow">net flow</a>
        </span>
        <span {% if mode=='DEST_COUNT' %} class="selected dest-count" {% else %} class="dest-count" {% endif %}>
          <a href="/dest-count">destination count</a>
        </span>
        <span {% if mode=='CUSTOM' %} class="selected custom" {% else %} class="custom" {% endif %}>
          <a href="/top-activity">top activity</a>
        </span>
    </div>
</div>

<div id="loading">
    LOADING
</div>
    

<div id="sliders">
    <div id="hours">
        <span class="title">Hours</span>
        <span class="res"></span>
        <div id="hour-slider">
        </div>
    </div>
    <div id="days">
        <span class="title">Days</span>
        <span class="res"></span>
        <div id="day-slider">
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
{% if mode=="NET_FLOW" %}
    {% assets "js_net_flow" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% elif mode=="DEST_COUNT" %}
    {% assets "js_dest_counts" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% elif mode=="CUSTOM" %}
    {% assets "js_custom" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% endif %}
</body>


</html>